*.o
*.a
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
*.so
*.weights
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
darknet
.fuse*
.catkin_workspace

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
tag
build/
lib/
